Data project:

CAPM - financial data

Choose 3 stocks and market (SP-500)
1. Import stock data from csv/api
2. Merge stock data together

3. Calculate returns and volatilities for each
4. Calculate different portfolios. Minimum variance portfolio. Efficient tangent portfolio.
5. Plot portfolios in volatility-return diagram. Efficient frontier, market line.
6. Regress stocks on market portfolio to calculate beta coefficients. Does CAPM hold?

In [63]:
import yfinance as yf
import pandas as pd
import numpy as np

novo = yf.Ticker("NVO")

novo.history(period = "3y")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-08 00:00:00-04:00,33.126488,33.328185,33.107278,33.256149,1780800,0.0,0.0
2021-04-09 00:00:00-04:00,33.630727,33.717169,33.467450,33.673950,1801800,0.0,0.0
2021-04-12 00:00:00-04:00,33.371401,33.486660,33.275356,33.356995,1147400,0.0,0.0
2021-04-13 00:00:00-04:00,33.866041,34.048532,33.760393,33.986099,1627200,0.0,0.0
2021-04-14 00:00:00-04:00,34.202207,34.221416,33.731576,33.880451,1913000,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-02 00:00:00-04:00,125.050003,126.680000,124.080002,126.459999,4322400,0.0,0.0
2024-04-03 00:00:00-04:00,125.379997,128.130005,125.379997,126.989998,3616400,0.0,0.0
2024-04-04 00:00:00-04:00,126.900002,127.480003,123.769997,123.959999,4006800,0.0,0.0
2024-04-05 00:00:00-04:00,124.669998,126.169998,124.599998,125.860001,4995400,0.0,0.0
2024-04-08 00:00:00-04:00,127.000000,127.180000,125.989998,126.570000,1355394,0.0,0.0

In [67]:
data = yf.download(["NVO", "MSFT"], start = "2021-04-08", end = "2024-04-08", interval = "1d")
data = data.iloc[:, :2]
data = data["Adj Close"]

data["msft_returns"] = data["MSFT"].pct_change() * 100
data["nvo_returns"] = data["NVO"].pct_change() * 100
data = data.dropna()

variance = data["msft_returns"].var()
sd = np.sqrt(variance)

[*********************100%%**********************]  2 of 2 completed

In [59]:
print(data)

Ticker            MSFT         NVO  msft_returns  nvo_returns
Date
2021-04-09  249.271484   33.673954      1.026645     1.256335
2021-04-12  249.329941   33.356998      0.023451    -0.941248
2021-04-13  251.843597   33.986099      1.008165     1.885963
2021-04-14  249.018173   33.880451     -1.121896    -0.310857
2021-04-15  252.827621   34.341476      1.529787     1.360741
...                ...         ...           ...          ...
2024-04-01  424.570007  127.550003      0.915099    -0.661987
2024-04-02  421.440002  126.459999     -0.737218    -0.854570
2024-04-03  420.450012  126.989998     -0.234907     0.419104
2024-04-04  417.880005  123.959999     -0.611252    -2.386014
2024-04-05  425.519989  125.860001      1.828272     1.532754

[753 rows x 4 columns]

In [69]:
print(variance)
print(sd)

2.9779651709337585
1.7256781771042242